@keyframes animacao {

from {transform:translateX(100px)}
to {transform:translateX(1500px)}


}

html {
  scroll-behavior: smooth;
}


/* -------------------------------- CUSTOMIZAÇÃO PARA TODOS ( * ) -----------------------------  */


* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* --------------------------------- PLANO DE FUNDO DA PÁGINA  --------------------------------  */


body {

  background-image: url(./fundo-email.png);
height:  100%;

background-repeat: no-repeat;
}

/* -------------------------------- CAIXA CENTRAL (ID #LOGIN) -----------------------------  */
/* ------------------------------  CAIXA FLEXIVEL , CENTRALIZADA --------------------------  */


#login {


  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  

}

/* -------------------------------- FORMULÁRIO (CLASSE .CARD) -----------------------------  */


.card {

  background-color: white;
  padding: 2%;
  border-radius: 2%;
  opacity: 0.97;

}

/* ------------------------- NOME PRINCIPAL DO FORMULÁRIO (. CARD-HEADER) ---------------------------  */


.card-header {

  padding-bottom: 22%;
  opacity: 0.8;
  color: #4faae0;
  font-size: 15px;
  text-align: center;

}

/* ------------------------- CAIXA DE ESPAÇAMENTO DO HEADER ---------------------------  */



.card-header::after {

  content: "";
  width: 70%;
  height: 1px;
  display: flex;
  margin-top: -9%;
  margin-left: -9%;

}


/* ------------------------- FORMULÁRIO ---------------------------  */


.card-content label {

  color: black;
  font-size: 12px;
  opacity: 0.97;
  font-weight: bolder;



}


/* ------------------------- AREA DO FORMULÁRIO ---------------------------  */

.card-content-area {

  display: flex;
  flex-direction: column;
  padding: 5% 0;
  background-color: white;

}

/* ------------------------- BOTÃO DO FORMULÁRIO ---------------------------  */


.card-content-area button {

  margin-top: 10%;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 8%;
  padding: 2% 0;
  flex-direction: row;
  font-size: 100%;

}

/* ------------------------- HOVER BOTÃO DO FORMULÁRIO ---------------------------  */


.card-content-area button:hover {

  color: white;
  transition: 0,05s;
  background-color: black
}

/* ------------------------- TEXTO DO FORMULÁRIO ---------------------------  */


.card-content-area input {

  margin-top: 1%;
  padding: 2%;
  border: none;
  border-bottom: 1px solid #4faae0;
  outline: none;


  

}


.voa

{

margin-left:60%;
margin-top: -15%;

}

.voa img

{
  margin-top: -1%;
  margin-left: 1%;
  opacity: 99%;
  

  
}

.voa img:hover

{
  color: white;
  transition: 0, 05s;
  opacity: 70%;

}



.voa1 



{

  margin-left:60%;
  margin-top: -31%;

}

.voa1 img

{

margin-bottom: -160%;
margin-left: -140%;
animation-name: animacao;
  animation-duration: 10s,10s;
  animation-delay: 1s;
  animation-direction: alternate;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(.93,.35,.08,.85);


}

.voa1 img:hover

{
  color: white;
  transition: 0, 05s;
  opacity: 70%;


}
